.Melospiza__logo{
    width: 250px;
    margin: 50px 40px 50px 60px;
}

.Melospiza__logo:hover{
    transform: scale(1.2);
    transition-duration: 2s;
}

.aboutUs{
    margin: 100px 50px 100px 60px;
    font-size: 1.2rem;
    color: white;
}

@media screen and (max-width:880px){
    .aboutUs{
        margin: 50px 50px 80px 50px;
    }
}

.aboutUs{
    transition-duration: 5s;
}

.reveal__button{
    width: 200px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    border:2px solid #b55795;
    color: white;
}

@media screen and (min-width:900px){
    .reveal__button{
        margin: 80px;
    }
}