@import url(../styles/home.css);
.services img{
    width: 260px;
    /* border-radius: 20px; */
    border-radius: 53% 47% 84% 16%/46% 60% 40% 54%;
    margin: 60px 50px 60px 40px;
    height: 260px;
    animation: mymove 10s infinite;
}

@media screen and(max-width:880px){
    .services img{
        margin: 50px;
    }
    .services img:nth-child(1){
        width: 280px;
    }
    
}
/* .services img:nth-child(1){
    height: 300px;
} */

.services_content h1{
    font-weight: 600;
    color: var(--contentTitle);
    margin: 70px 0px 40px 0px;
}

.services_content p{
    margin: 40px;
}

@media screen and (max-width:890px){
    .services_content h1{
        margin: 40px;
    }
}

@keyframes mymove{
    0%{
        box-shadow: 1px 20px 2px 4px #806e6e, 30px -4px 1px -4px #f19999;
    }
    20%{
        box-shadow: 1px 10px 7px 7px #8f90a5, 10px 9px 20px -8px #c8d385;
    }
    40%{
        box-shadow:2px 10px 5px 7px #698881, -20px -4px 1px 4px #9adca6
    }
    60%{
        box-shadow: 30px 18px 6px -4px #8f9d70, -10px 20px 1px -1px #88aed2
    }
    80%{
        box-shadow: 2px 10px 2px 7px #9c7676, -20px -4px 1px 4px #a198d2
    }
    100%{
        box-shadow: 1px 20px 4px 4px #8d6ba1, 30px -4px 1px -4px #b570b6;
    }
}