:root{
    --contentTitle: #042d51;
}
.swiperslide{
    width: 200px !important;
    height: 400px !important;
    margin-top: 100px;
    margin-bottom: 100px;
}

.testimonials{
    width: 220px;
    height: 380px;
    border-radius: 20px;
    box-shadow: none;
}

.testimonials__content{
    padding: 20px;
}

.Testimonials__title{
    color: var(--contentTitle);
    font-weight: 600;
    margin-top: 70px;
}
